<h1>Editing Task</h1>

<%= form_for([@todo_list, @todo_item]) do |form| %>
 <%= form.text_field :content, placeholder: "New Task" %>
 <%= form.text_field :list_of_tags, placeholder: "Tags" %>
 <%= form.submit %>
<% end %>

<%= link_to 'Back', @todo_list %>
